body {
    background-color: #1d1f20;
}

.american-flag {
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
height: 250px;
width: 450px;
background-color:red;
}

.american-flag::after {
    content: '';
    top: 20px;
    height: 20px;
    width: 450px;
    position: absolute;
    background-color: white;
}